In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# https://www.statsmodels.org/stable/index.html
import statsmodels.api as sm

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
from functools import partial

In [1]:
from dotenv import load_dotenv
from pathlib import Path
import os
import sys

# Load environment variables
env_path = Path("../.env-live")
load_dotenv(dotenv_path=env_path, override=True)

# Print all relevant environment variables for debugging
print("Environment Variables Configuration:")
print(f"S3 Region: {os.getenv('JRJ_MODEL_REGISTRY_S3_REGION')}")
print(f"S3 Endpoint: {os.getenv('JRJ_MODEL_REGISTRY_S3_ENDPOINT')}")
print(f"S3 Bucket: {os.getenv('JRJ_MODEL_REGISTRY_S3_BUCKET_NAME')}")
print(f"MongoDB Connection: {os.getenv('JRJ_MODEL_REGISTRY_MONGODB_CONNECTION_STRING')}")
print(f"MongoDB Database: {os.getenv('JRJ_MODEL_REGISTRY_MONGODB_DATABASE')}")
print(f"MongoDB Collection: {os.getenv('JRJ_MODEL_REGISTRY_MONGODB_COLLECTION')}")

Environment Variables Configuration:
S3 Region: ca-central-1
S3 Endpoint: s3.ca-central-1.wasabisys.com/273-g1
S3 Bucket: 273-g1
MongoDB Connection: None
MongoDB Database: None
MongoDB Collection: None

In [2]:
# Verify all required variables exist
required_vars = [
    "JRJ_MODEL_REGISTRY_S3_REGION",
    "JRJ_MODEL_REGISTRY_S3_ENDPOINT",
    "JRJ_MODEL_REGISTRY_S3_BUCKET_NAME",
    "JRJ_MODEL_REGISTRY_MONGODB_CONNECTION_STRING",
    "JRJ_MODEL_REGISTRY_MONGODB_DATABASE",
    "JRJ_MODEL_REGISTRY_MONGODB_COLLECTION"
]

missing_vars = [var for var in required_vars if not os.getenv(var)]
if missing_vars:
    print(f"\n❌ MISSING ENVIRONMENT VARIABLES: {', '.join(missing_vars)}")
    
    # ===== 添加缺失的 MongoDB 配置 =====
    print("\n⚠️ Adding temporary MongoDB configuration for testing...")
    
    # 设置默认的本地 MongoDB 配置
    os.environ["JRJ_MODEL_REGISTRY_MONGODB_CONNECTION_STRING"] = "mongodb://localhost:27017"
    os.environ["JRJ_MODEL_REGISTRY_MONGODB_DATABASE"] = "model_registry"
    os.environ["JRJ_MODEL_REGISTRY_MONGODB_COLLECTION"] = "models"
    
    print("✅ Added default MongoDB configuration:")
    print(f"  Connection: {os.getenv('JRJ_MODEL_REGISTRY_MONGODB_CONNECTION_STRING')}")
    print(f"  Database: {os.getenv('JRJ_MODEL_REGISTRY_MONGODB_DATABASE')}")
    print(f"  Collection: {os.getenv('JRJ_MODEL_REGISTRY_MONGODB_COLLECTION')}")

❌ MISSING ENVIRONMENT VARIABLES: JRJ_MODEL_REGISTRY_MONGODB_CONNECTION_STRING, JRJ_MODEL_REGISTRY_MONGODB_DATABASE, JRJ_MODEL_REGISTRY_MONGODB_COLLECTION

⚠️ Adding temporary MongoDB configuration for testing...
✅ Added default MongoDB configuration:
  Connection: mongodb://localhost:27017
  Database: model_registry
  Collection: models

In [3]:
# Clear module cache to force reload
if 'jrjModelRegistry.jrjModelRegistry' in sys.modules:
    del sys.modules['jrjModelRegistry.jrjModelRegistry']

from jrjModelRegistry.jrjModelRegistry import registerAJrjModel, jrjModelRegistryConfig

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
jrjModelRegistryConfig.update({
    # S3 Configuration
    "s3Region": os.getenv("JRJ_MODEL_REGISTRY_S3_REGION", "ca-central-1"),
    "s3Endpoint": os.getenv("JRJ_MODEL_REGISTRY_S3_ENDPOINT", ""),
    "s3KeyId": os.getenv("JRJ_MODEL_REGISTRY_S3_KEY_ID", ""),
    "s3KeySecret": os.getenv("JRJ_MODEL_REGISTRY_S3_KEY_SECRET", ""),
    "s3BucketName": os.getenv("JRJ_MODEL_REGISTRY_S3_BUCKET_NAME", ""),
    
    # MongoDB Configuration
    "mongodbConnectionString": os.getenv("JRJ_MODEL_REGISTRY_MONGODB_CONNECTION_STRING", ""),
    "mongodbDatabase": os.getenv("JRJ_MODEL_REGISTRY_MONGODB_DATABASE", ""),
    "mongodbCollection": os.getenv("JRJ_MODEL_REGISTRY_MONGODB_COLLECTION", "")
})

In [5]:
print("\nUpdated Package Configuration:")
print(f"S3 Region: {jrjModelRegistryConfig.get('s3Region')}")
print(f"S3 Endpoint: {jrjModelRegistryConfig.get('s3Endpoint')}")
print(f"S3 Bucket: {jrjModelRegistryConfig.get('s3BucketName')}")
print(f"MongoDB Database: {jrjModelRegistryConfig.get('mongodbDatabase')}")
print(f"MongoDB Collection: {jrjModelRegistryConfig.get('mongodbCollection')}")

Updated Package Configuration:
S3 Region: ca-central-1
S3 Endpoint: s3.ca-central-1.wasabisys.com/273-g1
S3 Bucket: 273-g1
MongoDB Database: model_registry
MongoDB Collection: models

In [10]:
salaryDf = pd.read_csv("https://www.dropbox.com/scl/fi/xwirjv3wflfl94qckcbqw/salary_cleaned.csv?rlkey=8w9zgs8psc6g775hb2b7uvv74&st=vj4q42nr&dl=1")
salaryDf.head()

,Salary,Age,StockOptionLevel,YearsAtCompany,EducationLevel,EnvironmentSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,SelfRating,ManagerRating
0,102059,30,1,10,5,3.0,3.0,0.0,3.0,3.0
1,102059,30,1,10,5,4.0,3.0,1.0,3.0,2.0
2,102059,30,1,10,5,5.0,3.0,0.0,5.0,5.0
3,102059,30,1,10,5,1.0,3.0,1.0,5.0,4.0
4,102059,30,1,10,5,3.0,1.0,0.0,4.0,3.0

In [11]:
salaryDf.shape

(6899, 10)

In [12]:
salaryDf

,Salary,Age,StockOptionLevel,YearsAtCompany,EducationLevel,EnvironmentSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,SelfRating,ManagerRating
0,102059,30,1,10,5,3.0,3.0,0.0,3.0,3.0
1,102059,30,1,10,5,4.0,3.0,1.0,3.0,2.0
2,102059,30,1,10,5,5.0,3.0,0.0,5.0,5.0
3,102059,30,1,10,5,1.0,3.0,1.0,5.0,4.0
4,102059,30,1,10,5,3.0,1.0,0.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...
6894,38508,20,0,0,High School,4.0,2.0,1.0,4.0,3.0
6895,92995,27,3,0,Bachelors,4.0,2.0,1.0,4.0,3.0
6896,63375,21,0,0,Masters,4.0,2.0,1.0,4.0,3.0
6897,46521,21,0,0,Bachelors,4.0,2.0,1.0,4.0,3.0
6898,38258,20,0,0,High School,4.0,2.0,1.0,4.0,3.0

In [13]:
# 先将所有值初始化为 1（默认值）
salaryDf["EducationLevel"] = 1

# 然后对已知的四种学历用 replace 覆盖
education_mapping = {
    "High School": 2,
    "Bachelors": 3,
    "Masters": 4,
    "Doctorate": 5
}

salaryDf["EducationLevel"] = salaryDf["EducationLevel"].replace(education_mapping)

In [14]:
salaryDf

,Salary,Age,StockOptionLevel,YearsAtCompany,EducationLevel,EnvironmentSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,SelfRating,ManagerRating
0,102059,30,1,10,1,3.0,3.0,0.0,3.0,3.0
1,102059,30,1,10,1,4.0,3.0,1.0,3.0,2.0
2,102059,30,1,10,1,5.0,3.0,0.0,5.0,5.0
3,102059,30,1,10,1,1.0,3.0,1.0,5.0,4.0
4,102059,30,1,10,1,3.0,1.0,0.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...
6894,38508,20,0,0,1,4.0,2.0,1.0,4.0,3.0
6895,92995,27,3,0,1,4.0,2.0,1.0,4.0,3.0
6896,63375,21,0,0,1,4.0,2.0,1.0,4.0,3.0
6897,46521,21,0,0,1,4.0,2.0,1.0,4.0,3.0
6898,38258,20,0,0,1,4.0,2.0,1.0,4.0,3.0

In [26]:
salaryRegModel1 = sm.OLS(
    salaryDf["Salary"],
    sm.add_constant(salaryDf[[
        "Age", 
        "StockOptionLevel", 
        "YearsAtCompany", 
        "EnvironmentSatisfaction", 
        "TrainingOpportunitiesWithinYear", 
        "TrainingOpportunitiesTaken", 
        "SelfRating", 
        "ManagerRating"
    ]])
)

In [27]:
X = salaryDf[[
    "Age", 
    "StockOptionLevel", 
    "YearsAtCompany", 
    "EnvironmentSatisfaction", 
    "TrainingOpportunitiesWithinYear", 
    "TrainingOpportunitiesTaken", 
    "SelfRating", 
    "ManagerRating"
]]

y = salaryDf["Salary"]

X_const = sm.add_constant(X)
salaryRegModel1Fit = sm.OLS(y, X_const).fit()

print(salaryRegModel1Fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.187
Model:                            OLS   Adj. R-squared:                  0.186
Method:                 Least Squares   F-statistic:                     198.4
Date:                Fri, 27 Jun 2025   Prob (F-statistic):          3.03e-303
Time:                        14:16:35   Log-Likelihood:                -88392.
No. Observations:                6899   AIC:                         1.768e+05
Df Residuals:                    6890   BIC:                         1.769e+05
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                           -5.913e+04   8873.001     -6.664      0.000   -7.65e+04   -4.17e+04
Age                              6053.7780    174.760     34.640      0.000    5711.194    6396.362
StockOptionLevel                 -598.8085   1279.153     -0.468      0.640   -3106.342    1908.725
YearsAtCompany                  -2953.8958    411.154     -7.184      0.000   -3759.884   -2147.907
EnvironmentSatisfaction         -1059.9441   1152.424     -0.920      0.358   -3319.051    1199.163
TrainingOpportunitiesWithinYear  1423.0313   1321.759      1.077      0.282   -1168.024    4014.086
TrainingOpportunitiesTaken       1063.6392   1140.998      0.932      0.351   -1173.068    3300.346
SelfRating                       1904.4084   2532.067      0.752      0.452   -3059.224    6868.040
ManagerRating                   -1663.3360   2143.746     -0.776      0.438   -5865.740    2539.067
==============================================================================
Omnibus:                     2292.763   Durbin-Watson:                   0.417
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7898.263
Skew:                           1.673   Prob(JB):                         0.00
Kurtosis:                       7.035   Cond. No.                         276.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [28]:
salaryDf.head()

,Salary,Age,StockOptionLevel,YearsAtCompany,EducationLevel,EnvironmentSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,SelfRating,ManagerRating
0,102059,30,1,10,1,3.0,3.0,0.0,3.0,3.0
1,102059,30,1,10,1,4.0,3.0,1.0,3.0,2.0
2,102059,30,1,10,1,5.0,3.0,0.0,5.0,5.0
3,102059,30,1,10,1,1.0,3.0,1.0,5.0,4.0
4,102059,30,1,10,1,3.0,1.0,0.0,4.0,3.0

In [29]:
from functools import partial
import pandas as pd
import statsmodels.api as sm
import numpy as np

# 样本数据
salaryRegModel1SampleData = {
    "Age": [30, 30, 30],
    "StockOptionLevel": [1, 1, 1],  
    "YearsAtCompany": [5, 5, 5],
    'EnvironmentSatisfaction': [3.0, 5.0, 3.0],
    'TrainingOpportunitiesWithinYear': [3.0, 3.0, 1.0],
    'TrainingOpportunitiesTaken': [0.0, 0.0, 0.0],
    'SelfRating': [3.0, 5.0, 4.0],
    'ManagerRating': [3.0, 5.0, 3.0]
}

# 数据转换器函数
def salaryRegModel1Transformer(dataForTransfer=None):
    try:
        # 确保正确导入 pandas
        import pandas as pd
        import statsmodels.api as sm
        
        # 验证输入
        if not dataForTransfer or not isinstance(dataForTransfer, dict):
            raise ValueError("Invalid input data")
        
        # 创建 DataFrame
        df = pd.DataFrame(dataForTransfer)
        
        # 检查必需列是否存在
        required_columns = [
            'Age', 'StockOptionLevel', 'YearsAtCompany', 
            'EnvironmentSatisfaction', 'TrainingOpportunitiesWithinYear',
            'TrainingOpportunitiesTaken', 'SelfRating', 'ManagerRating'
        ]
        
        missing_columns = [col for col in required_columns if col not in df.columns]
        if missing_columns:
            raise ValueError(f"Missing required columns: {', '.join(missing_columns)}")
        
        # 添加常数项
        return sm.add_constant(df[required_columns], has_constant='add')
    
    except ImportError as e:
        # 如果导入失败，提供更明确的错误信息
        return {
            "error": True,
            "errorMessage": f"Required library missing: {str(e)}. Please install pandas and statsmodels."
        }
    except Exception as e:
        return {
            "error": True,
            "errorMessage": f"Data transformation failed: {str(e)}"
        }

# 预测函数
def salaryRegModel1MainPredictor(self, transformedData):
    try:
        # 检查转换器是否返回错误
        if isinstance(transformedData, dict) and transformedData.get("error"):
            return transformedData
        
        # 获取预测结果
        predictions = self.predict(transformedData)
        
        # 确保结果是可序列化的格式
        if hasattr(predictions, "tolist"):
            return predictions.tolist()
        elif isinstance(predictions, (list, tuple)):
            return list(predictions)
        else:
            return [predictions]
    
    except Exception as e:
        return {
            "error": True,
            "errorMessage": f"Prediction failed: {str(e)}"
        }

# 附加函数到模型
salaryRegModel1Fit.mainPredictor = partial(salaryRegModel1MainPredictor, salaryRegModel1Fit)
salaryRegModel1Fit.transformer = salaryRegModel1Transformer

# 创建模型元数据
salaryRegModel1FitMetadata = {
    "modelName": "salaryRegModel1Fit",
    "version": "1.0.1",  # 使用新版本号避免重复注册
    "params": salaryRegModel1Fit.params.to_dict(),
    "score": float(salaryRegModel1Fit.rsquared),
    "modelLibrary": 'sm.OLS',
    "libraryMetadata": {
        "pvalues": salaryRegModel1Fit.pvalues.to_dict(),
        "r_squared": float(salaryRegModel1Fit.rsquared),
        "adj_r_squared": float(salaryRegModel1Fit.rsquared_adj)
    },
    "sampleData": {
        "dataForTransfer": salaryRegModel1SampleData
    },
    "dependencies": {
        "pandas": pd.__version__,
        "statsmodels": sm.__version__,
        "numpy": np.__version__
    }
}

# 注册模型
registerAJrjModel(salaryRegModel1Fit, salaryRegModel1FitMetadata)

✅ Uploaded encrypted ZIP to s3://273-g1/salaryRegModel1Fit__1.0.1.pkl.zip
❌ Failed to generate URL or upload: E11000 duplicate key error collection: jrjModelRegistry.models index: modelName_1_version_1 dup key: { modelName: "salaryRegModel1Fit", version: "1.0.1" }, full error: {'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: jrjModelRegistry.models index: modelName_1_version_1 dup key: { modelName: "salaryRegModel1Fit", version: "1.0.1" }', 'keyPattern': {'modelName': 1, 'version': 1}, 'keyValue': {'modelName': 'salaryRegModel1Fit', 'version': '1.0.1'}}

In [30]:
sample_data = {
    "Age": [30, 30, 30],
    "StockOptionLevel": [1, 1, 1],
    "YearsAtCompany": [5, 5, 5],
    'EnvironmentSatisfaction': [3.0, 5.0, 3.0],
    'TrainingOpportunitiesWithinYear': [3.0, 3.0, 1.0],
    'TrainingOpportunitiesTaken': [0.0, 0.0, 0.0],
    'SelfRating': [3.0, 5.0, 4.0],
    'ManagerRating': [3.0, 5.0, 3.0]
}

# 转换数据
transformed_data = salaryRegModel1Fit.transformer(sample_data)
print("Transformed data:")
print(transformed_data)

# 进行预测
predictions = salaryRegModel1Fit.mainPredictor(transformed_data)
print("\nPredictions:")
print(predictions)

# 检查是否可序列化为 JSON
import json
try:
    json.dumps(predictions)
    print("✅ Predictions are JSON serializable")
except Exception as e:
    print(f"❌ Predictions are NOT JSON serializable: {str(e)}")

Transformed data:
   const  Age  StockOptionLevel  YearsAtCompany  EnvironmentSatisfaction  \
0    1.0   30                 1               5                      3.0
1    1.0   30                 1               5                      5.0
2    1.0   30                 1               5                      3.0

   TrainingOpportunitiesWithinYear  TrainingOpportunitiesTaken  SelfRating  \
0                              3.0                         0.0         3.0
1                              3.0                         0.0         5.0
2                              1.0                         0.0         4.0

   ManagerRating
0            3.0
1            5.0
2            3.0

Predictions:
[108927.1350484576, 107289.39166018167, 107985.48085105536]
✅ Predictions are JSON serializable

In [94]:
test1 = salaryRegModel1Fit.transformer(salaryRegModel1SampleData)
test1
# salaryRegModel1Fit.mainPredictor(test1)

,const,Age,StockOptionLevel,YearsAtCompany,EnvironmentSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,SelfRating,ManagerRating
0,1.0,30,1,5,3.0,3.0,0.0,3.0,3.0
1,1.0,30,1,5,5.0,3.0,0.0,5.0,5.0
2,1.0,30,1,5,3.0,1.0,0.0,4.0,3.0

In [95]:
salaryRegModel1Fit.transformer = salaryRegModel1Transformer

In [96]:
salaryRegModel1Fit.mainPredictor(test1)

[108927.1350484576, 107289.39166018167, 107985.48085105536]

In [97]:
salaryRegModel1FitMetadata = {
    "modelName":f"salaryRegModel1Fit",
    "version":"1.0.0",
    "params": salaryRegModel1Fit.params.to_dict(),
    "score": float(salaryRegModel1Fit.rsquared),
    "modelLibraray": 'sm.OLS',
    "libraryMetadata": {
        "pvalues": salaryRegModel1Fit.pvalues.to_dict(),
        "r_squared": float(salaryRegModel1Fit.rsquared),
        "adj_r_squared": float(salaryRegModel1Fit.rsquared_adj)
    },

    "sampleData": {
        "dataForTransfer": salaryRegModel1SampleData
    }
}
salaryRegModel1FitMetadata

{'modelName': 'salaryRegModel1Fit',
 'version': '1.0.0',
 'params': {'const': -59130.39543827087,
  'Age': 6053.777970076883,
  'StockOptionLevel': -598.8085487397689,
  'YearsAtCompany': -2953.8957739273906,
  'EnvironmentSatisfaction': -1059.9440521716942,
  'TrainingOpportunitiesWithinYear': 1423.0312950708594,
  'TrainingOpportunitiesTaken': 1063.6392234649593,
  'SelfRating': 1904.408392739482,
  'ManagerRating': -1663.33603470575},
 'score': 0.18723540442839615,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 2.8690885190930275e-11,
   'Age': 1.53653450615597e-242,
   'StockOptionLevel': 0.6397070887476496,
   'YearsAtCompany': 7.45911727799405e-13,
   'EnvironmentSatisfaction': 0.3577348597353276,
   'TrainingOpportunitiesWithinYear': 0.28168801770224355,
   'TrainingOpportunitiesTaken': 0.3512652437472574,
   'SelfRating': 0.4520069149190137,
   'ManagerRating': 0.4378337289043348},
  'r_squared': 0.18723540442839615,
  'adj_r_squared': 0.1862917009792564},
 'sampleData': {'dataForTransfer': {'Age': [30, 30, 30],
   'StockOptionLevel': [1, 1, 1],
   'YearsAtCompany': [5, 5, 5],
   'EnvironmentSatisfaction': [3.0, 5.0, 3.0],
   'TrainingOpportunitiesWithinYear': [3.0, 3.0, 1.0],
   'TrainingOpportunitiesTaken': [0.0, 0.0, 0.0],
   'SelfRating': [3.0, 5.0, 4.0],
   'ManagerRating': [3.0, 5.0, 3.0]}}}

In [77]:
pip install pymongo

Requirement already satisfied: pymongo in /Users/zihansu/github/live-class-codes/venv/lib/python3.13/site-packages (4.12.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/zihansu/github/live-class-codes/venv/lib/python3.13/site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [98]:
from pymongo import MongoClient
from datetime import datetime

# 确保配置正确
print("MongoDB Connection String:", jrjModelRegistryConfig["mongodbConnectionString"])
print("MongoDB Database:", jrjModelRegistryConfig["mongodbDatabase"])
print("MongoDB Collection:", jrjModelRegistryConfig["mongodbCollection"])

try:
    client = MongoClient(jrjModelRegistryConfig["mongodbConnectionString"])
    db = client[jrjModelRegistryConfig["mongodbDatabase"]]
    collection = db[jrjModelRegistryConfig["mongodbCollection"]]
    
    test_doc = {
        "test": "connection_test", 
        "timestamp": datetime.now(),
        "message": "Testing MongoDB connection from Python"
    }
    
    result = collection.insert_one(test_doc)
    print(f"✅ Inserted document ID: {result.inserted_id}")
    
    retrieved_doc = collection.find_one({"_id": result.inserted_id})
    if retrieved_doc:
        print("✅ Successfully retrieved inserted document:")
        print(retrieved_doc)
    else:
        print("❌ Failed to retrieve inserted document")
        
except Exception as e:
    print(f"❌ MongoDB connection failed: {str(e)}")

MongoDB Connection String: mongodb://localhost:27017
MongoDB Database: model_registry
MongoDB Collection: models
✅ Inserted document ID: 685d9b7400af1a97a4dbb91c
✅ Successfully retrieved inserted document:
{'_id': ObjectId('685d9b7400af1a97a4dbb91c'), 'test': 'connection_test', 'timestamp': datetime.datetime(2025, 6, 27, 3, 11, 48, 822000), 'message': 'Testing MongoDB connection from Python'}

In [74]:
# 注册模型时指定依赖
salaryRegModel1FitMetadata["dependencies"] = {
    "pandas": pd.__version__,
    "statsmodels": sm.__version__,
    "numpy": np.__version__
}

# 重新注册模型
registerAJrjModel(salaryRegModel1Fit, salaryRegModel1FitMetadata)

✅ Uploaded encrypted ZIP to s3://273-g1/salaryRegModel1Fit__1.0.0.pkl.zip

{'_id': '685d9b3600af1a97a4dbb919',
 'modelName': 'salaryRegModel1Fit',
 'version': '1.0.0',
 'params': {'const': -59130.39543827087,
  'Age': 6053.777970076883,
  'StockOptionLevel': -598.8085487397689,
  'YearsAtCompany': -2953.8957739273906,
  'EnvironmentSatisfaction': -1059.9440521716942,
  'TrainingOpportunitiesWithinYear': 1423.0312950708594,
  'TrainingOpportunitiesTaken': 1063.6392234649593,
  'SelfRating': 1904.408392739482,
  'ManagerRating': -1663.33603470575},
 'score': 0.18723540442839615,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 2.8690885190930275e-11,
   'Age': 1.53653450615597e-242,
   'StockOptionLevel': 0.6397070887476496,
   'YearsAtCompany': 7.45911727799405e-13,
   'EnvironmentSatisfaction': 0.3577348597353276,
   'TrainingOpportunitiesWithinYear': 0.28168801770224355,
   'TrainingOpportunitiesTaken': 0.3512652437472574,
   'SelfRating': 0.4520069149190137,
   'ManagerRating': 0.4378337289043348},
  'r_squared': 0.18723540442839615,
  'adj_r_squared': 0.1862917009792564},
 'sampleData': {'dataForTransfer': {'Age': [30, 30, 30],
   'StockOptionLevel': [1, 1, 1],
   'YearsAtCompany': [5, 5, 5],
   'EnvironmentSatisfaction': [3.0, 5.0, 3.0],
   'TrainingOpportunitiesWithinYear': [3.0, 3.0, 1.0],
   'TrainingOpportunitiesTaken': [0.0, 0.0, 0.0],
   'SelfRating': [3.0, 5.0, 4.0],
   'ManagerRating': [3.0, 5.0, 3.0]}},
 'dependencies': {'pandas': '2.2.3',
  'statsmodels': '0.14.4',
  'numpy': '2.2.5'},
 'modelType': 'model',
 'keepLastOnly': False,
 'modelSizeBytes': 1719030,
 'zippedModelSizeBytes': 489470,
 's3Url': '273-g1/salaryRegModel1Fit__1.0.0.pkl.zip',
 'createdAt': '2025-06-26T19:10:46.793Z',
 'updatedAt': '2025-06-26T19:10:46.793Z'}

In [45]:
registerAJrjModel(salaryRegModel1Fit, salaryRegModel1FitMetadata)

✅ Uploaded encrypted ZIP to s3://273-g1/salaryRegModel1Fit__1.0.0.pkl.zip

{'_id': '685d976d00af1a97a4dbb912',
 'modelName': 'salaryRegModel1Fit',
 'version': '1.0.0',
 'params': {'const': -59130.39543827087,
  'Age': 6053.777970076883,
  'StockOptionLevel': -598.8085487397689,
  'YearsAtCompany': -2953.8957739273906,
  'EnvironmentSatisfaction': -1059.9440521716942,
  'TrainingOpportunitiesWithinYear': 1423.0312950708594,
  'TrainingOpportunitiesTaken': 1063.6392234649593,
  'SelfRating': 1904.408392739482,
  'ManagerRating': -1663.33603470575},
 'score': 0.18723540442839615,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 2.8690885190930275e-11,
   'Age': 1.53653450615597e-242,
   'StockOptionLevel': 0.6397070887476496,
   'YearsAtCompany': 7.45911727799405e-13,
   'EnvironmentSatisfaction': 0.3577348597353276,
   'TrainingOpportunitiesWithinYear': 0.28168801770224355,
   'TrainingOpportunitiesTaken': 0.3512652437472574,
   'SelfRating': 0.4520069149190137,
   'ManagerRating': 0.4378337289043348},
  'r_squared': 0.18723540442839615,
  'adj_r_squared': 0.1862917009792564},
 'sampleData': {'dataForTransfer': {'Age': [30, 30, 30],
   'StockOptionLevel': [1, 1, 1],
   'YearsAtCompany': [5, 5, 5],
   'EnvironmentSatisfaction': [3.0, 5.0, 3.0],
   'TrainingOpportunitiesWithinYear': [3.0, 3.0, 1.0],
   'TrainingOpportunitiesTaken': [0.0, 0.0, 0.0],
   'SelfRating': [3.0, 5.0, 4.0],
   'ManagerRating': [3.0, 5.0, 3.0]}},
 'modelType': 'model',
 'keepLastOnly': False,
 'modelSizeBytes': 1718967,
 'zippedModelSizeBytes': 489351,
 's3Url': '273-g1/salaryRegModel1Fit__1.0.0.pkl.zip',
 'createdAt': '2025-06-26T18:54:37.144Z',
 'updatedAt': '2025-06-26T18:54:37.144Z'}